<div class="container">

    <div class="profile-title">
        <div class="profile-image">
            <img src="./assets/images/cv_my_avatar_gray.webp" alt="profile-image">
        </div>

        <div class="title-name" >
            <p class="prefix">{{constants.profile.prefixName}}</p>
            <p class="text-information name">{{constants.profile.name}}</p>
        </div>
        <div >
            <p class="text-information title">{{constants.profile.title}}</p>
        </div>
        <div class="social-links">
            <a target="_blank" href="https://www.linkedin.com/in/david-suarez-losada/"><i
                    class="fa fa-linkedin icon"></i></a>
            <a target="_blank" href="https://github.com/devid-suarez"> <i class="fa fa-github icon"></i></a>
            <a href="mailto:davidsuarezlosada@gmail.com" target="_blank"><i class="fa fa-google icon"></i></a>
            <a target="_blank" href="https://twitter.com/devid_suarez?t=XSo6Uzr_szTSu8GFoC1zlw&s=09"> <i
                    class="fa fa-twitter icon"></i></a>
        </div>
    </div>
    <div class="profile">
        <p [innerHTML]="constants.profile.description"></p>
    </div>
</div>