<div class="container" >
    <section id="about" class="about-section">
        <app-profile-card></app-profile-card>
    </section>
    <section id="employment" class="employment-section">
        <app-timeline [timelineData]="constants.employments" (timelineSelected)="onTimelineSelected($event)"
            [selectedIndex]="selectedTimelineIndex"></app-timeline>
        <app-carousel [timelineData]="constants.employments" [selectedIndex]="selectedTimelineIndex"
            (slideChanged)="onTimelineSelected($event)"></app-carousel>
    </section>
    <section id="projects" style="min-height: 100vh;">
        <app-multidimensional-carousel *ngIf="showCarousel" [projects]="constants.projects"
            [selectedProjectId]="selectedProjectIndex" (closeCarousel)="closeCarousel()"
            (scroll)="onScroll($event)" ></app-multidimensional-carousel>
        <div class="card-container">
            <app-project-card *ngFor="let project of constants.projects" [project]="project"
                (selectedCard)="selectProject($event)"></app-project-card>
        </div>
    </section>
    <app-floating-bar></app-floating-bar>
</div>