.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

/* [ngClass]="{'no-scroll': false}" */

.about-section {
    width: 100%;
    height: 100vh;
    display: flex;
    display: flex;
    justify-content: center;
}

app-profile-card {
    width: 100%;
    display: flex;
    align-items: center;
}



.no-scroll {
    overflow: hidden;
}

/* ----- */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.timeline-container {
    width: 90%;
    display: grid;
    place-items: center strecthe;
    grid-gap: 0px;
    height: 18px;
}

.timeline-points {
    /* border: #C5221F 1px solid; */
    display: grid;
    place-items: start center;
    grid-gap: 0px;
    height: 2px;
    z-index: 1;
    /* grid-template-columns: {{variable}}; */
}

.timeline {
    width: 100%;
    display: grid;
    place-items: center;
    grid-gap: 0px;
    height: 1px;
}

.timeline-line {
    height: 1px;
    background-color: rgba(30, 41, 59, .3);
    width: 100%;
}

/* 8732852 */
.timeline-point {
    background-color: #D7D8DB;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.timeline-point-edge {
    margin-top: 2.5px;
    background-color: #D7D8DB;
    width: 15px;
    height: 15px;
    border-radius: 10px;
}

.timeline-point:hover {
    background-color: #C5221F;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.timeline-subcontainer:hover {
    /* border: #70e000 1px solid; */
    cursor: pointer;
}

.timeline-point-selected {
    background-color: #C5221F;
}

.employment-text-selected {
    opacity: 1 !important;
}

.vertical-line {
    height: 30px;
}

.text-time {
    margin-top: -55px;
    margin-left: 13px;
    display: grid;
    place-items: center;
    grid-gap: 0px;
    grid-template-rows: auto;
}

.employment-section {
    background-color: #1C4E80;
    border-radius: 2rem;
    min-height: 70vh;
    width: 95%;
    padding-top: 1px;
    display: grid;
    place-items: start center;
    grid-gap: 0px;
    grid-template-rows: 150px 1fr;
}

app-timeline {
    width: 90%;
}

app-carousel {
    width: 100%;
}


.employment-text {
    opacity: 0.5;
    display: none;
    width: 90%;
}

.description-employment {
    width: 90%;
}


.employment-text-date {
    opacity: 0.5;
    writing-mode: vertical-lr;
    margin-left: -16px;
    margin-top: 30px;
    width: 100%;
    font-size: 0.5em;
}


/* ---- */
@media screen and (min-width:600px) {
    app-profile-card {
        width: 80%;
    }

    .description-employment {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 0px;

        width: 80%;
        grid-template-areas: "profile functions"
    }

    .profile {
        grid-area: profile;
        display: grid;
        grid-gap: 0px;
        grid-template-rows: 80px min-content min-content;
    }

    .functions {
        padding-inline: 30px;
    }

    .employment-text {
        font-size: 0.6em;
        display: inline;
        width: 90%;
        /* border-top: 1px solid red; */
    }

    .employment-text-date {
        writing-mode: initial;
        margin-left: 0px;
        width: 90%;
        /* border-top: 1px solid red; */
        margin-top: 0px;
        font-size: 0.6em;
    }

    .text-time {
        font-family: Arial, sans-serif;
        font-size: 1em;
        width: 80%;
        /* border: #70e000 1px solid; */
        margin-top: -45px;
        display: grid;
        place-items: center;
        grid-gap: 0px;
        grid-template-rows: auto;
    }



    .vertical-line {
        position: relative;
        height: 50px;
        background-color: rgba(227, 156, 33, 0.1);
        width: 2px;
        left: 9px;
        z-index: -1;
    }

    .vertical-line-selected {
        background-color: rgba(227, 156, 33, 0.5);
    }
}

@media screen and (min-width:800px) {
    .employment-text-date {
        font-size: 0.7em;
    }

    .description-employment {
        width: 70%;
    }

    .employment-text {
        font-size: 0.7em;
    }

    app-timeline {
        width: 70%
    }

    app-carousel {
        width: 95%;
    }

    .employment-section {
        width: 98%;
        border-radius: 1rem;
    }

}

@media screen and (min-width:900px) {
    app-carousel {
        width: 90%;
    }
}

@media screen and (min-width:1000px) {
    app-carousel {
        width: 80%;
    }
}

@media screen and (min-width:1100px) {
    .description-employment {
        width: 50%;
    }
}