<div class="container">
    <div class="curriculum-vitae">
        <div class="image-circle">
            <img src="./assets/images/cv_photo_without_background.webp" alt="profile-image">
        </div>
        <div class="information">
            <div class="title-name">
                <p class="prefix">dev</p>
                <p class="text-information name">id suarez</p>
            </div>
            <div>
                <p class="text-information title">full-stack software developer</p>
            </div>
            <div class="social-links">
                <a target="_blank" href="https://www.linkedin.com/in/david-suarez-losada/"> <img
                        class="social-media-icons" src="./assets/images/linkedin_icon.webp" alt="linkedin"></a>

                <a href="mailto:davidsuarezlosada@gmail.com" target="_blank"><img class="social-media-icons"
                        src="./assets/images/gmail_icon.webp" alt="gmail"></a>

                <a target="_blank" href="https://twitter.com/devid_suarez?t=XSo6Uzr_szTSu8GFoC1zlw&s=09"> <img
                        class="social-media-icons" src="./assets/images/twitter_icon.webp" alt="twitter"></a>
            </div>
        </div>
    </div>
    <app-floating-bar></app-floating-bar>
</div>