.tag {
    margin: 1px;
    display: inline-block;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    font-size: 0.8rem;
    border: 1px solid;
    border-radius: 0.25rem;
    background-color: transparent;
}