<mat-toolbar>

    <!-- <app-menu [trigger]="menuRootNodes" [data]="menuRootNodes.childrens" [isRootNode]="true"></app-menu> -->
    <span class="spacer"></span>
    <!-- <app-menu *ngFor="let node of topMenuRootNodes; let i = index" [trigger]="node" [data]="node.childrens"
      [isRootNode]="true"></app-menu>
   -->
         <!-- <span class="icon"><i class="fa fa-linkedin"></i></span> -->
<!-- 
    <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
    </button> -->
</mat-toolbar>