.app-container {
    background: #0A0B15;
    width:100%
}

.app-content {
    overflow-y: scroll;
}

.personal-logo {
    width: 100px;
    height: 100px;
}

.personal-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}