<div class="app-container" fxLayout="column" fxLayoutAlign="start" >
  <app-toolbar fxFlex="0 0 auto"></app-toolbar>
  <div class="app-content" fxLayout="column" fxLayoutAlign="start">
    <!-- <app-sidenav fxFlex></app-sidenav> -->
    <!-- <app-footer></app-footer> -->

    <app-home></app-home>
<!-- 
    <div class = "personal-logo">
      <img src="../assets/images/personal_logo_white_wb.png" alt="as">
    </div>

    <div class = "personal-logo">
      <img src="../assets/images/sign_two.gif" alt="as">
    </div>

    <button *ngIf="flag" [@slideInLeft]  [@rotateIn] (click)="clickinMe()" >Click me</button> -->
  </div>
</div>