<div class="timeline">
    <div class="horizontal-line"></div>
    <div *ngFor="let point of timelineData; let i = index" class="timeline-point"
        [ngClass]="{ 'selected': i === selectedIndex, 'even': i % 2 === 0 }" (click)="onPointClick(i)">
        <div class="circle"></div>
        <div class="content">
            <div class="role">{{ point.role }}</div>
            <div class="date">{{ point.date.initial }} - {{ point.date.final }}</div>
            <div class="final-date"> {{ point.date.final }}</div>
        </div>
    </div>
</div>