/* You can add global styles to this file, and also import other style files */


::-webkit-scrollbar {
  background-color: transparent;
  width: 0rem; /* Set the width of the scroll bar */
  height: 0rem; /* Set the height of the scroll bar */
}

body {
  margin: 0;
  font-family: Montserrat, Helvetica, Arial, sans-serif;

  padding: 0;
}

.social-media-icons {
  width: auto;
  height: 40px;
}