.floating-button {
    position: fixed;
    /* bottom: 10px; */
    left: 50%;
    background-color: white;
    transform: translateX(-50%);
    /* background-color: rgba(255, 255, 255, 0.8); */
    border-radius: 1rem !important;
    padding: 10px;
    border: 1px rgba(30,41,59,.5) solid;
    outline:none;
    
  }
  
  .floating-button:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  }

  .button-option{
    /* background-color: transparent; */
  }