<div class="floating-button">
  <ul>
    <li [class.liSection]="currentSection === 'about'" (click)="scrollToSection('about')"
      style="--i:#E39C21;--j:#E39C21;"> 
      <!-- TODO:Cambiar estos estilos -->
      <span class="material-icons icon">person</span>
      <span class="title">about</span>
    </li>
    <li [class.liSection]="currentSection === 'employment'" (click)="scrollToSection('employment')"
      style="--i:#40904F;--j:#40904F;">
      <span class="material-icons icon">badge</span>
      <span class="title">employment</span>
    </li>
    <li [class.liSection]="currentSection === 'education'" (click)="scrollToSection('education')"
      style="--i:#483FD4;--j:#483FD4;">
      <span class="material-icons icon">school</span>
      <span class="title">projects</span>
    </li>
  </ul>
</div>